/* Variables */

/* Media */

@media (min-width: 768px) and (max-width: 991px) {

}

/* Global */

*, *::before, *::after {
	box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    background-color: #fff;
}

.container { 
    max-width: 1140px;
    padding: 0 20px;
}

section {
    padding: auto;
}

/*Header */ 

header {
    background-image: url('https://i.postimg.cc/TPZQyW6Y/header-background.jpg');
    height: 500px;
    color: beige;
    font-family: 'Signika', sans-serif;
    margin-top: auto;
    font-size: 30px;

}

header h4 {
    color: #cab603;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    margin-left: 100px;
}

.btn {
 
    background: #cab603;
    border: 1px solid black;
    border-radius:20px;
    text-decoration: none;
    font-size: 30px;
    color:#fff;
    height: 150px;
    width: 200px;
}

.btn:hover {
    color:orangered;
    background-color: #fff;
    border: 1px solid orangered;
}

/* Navigation */

.navigation ul {
    list-style-type: none;
    margin-top: 0px;
    padding: 0px;
    text-align: right;
    font-size: 20px;
    position: relative;
    
}  

.navigation li{
    display: inline-block;
}

.navigation a {
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    color:#cab603;
}

.splash-inner {
    text-align: center;

}

/* Services */

.services {
    text-align: center;
}

.services h2 {
    font-family: 'Signika', sans-serif;
}

.serives h3 {
    font-family: 'Signika', sans-serif;
}

.services p {
    font-family: 'Inconsolata', monospace;
}

/*Our Portfolio*/

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover; }

.portfolio {
    background-color: #DDC7A0;
}

.portfolio h2 {
    font-family: 'Signika', sans-serif;

}

.card-body {
    text-align: center;

}

.card-body h4 {
    font-family: 'Signika', sans-serif;
}

.card-body p {
    font-family: 'Inconsolata', monospace;
}
h2 {
    text-align: center;
}

/*Footer*/
.footer {
    margin-left:25%;
}

.footer i {
    border-radius:50%; 
    background-color: white;
    position:relative;
    border: 1px solid black;
    
}

.footer h3 {
    font-family: 'Signika', sans-serif;
}

